<div class="well text-center">
  <h3>Gender Distribution by country and year</h3>
</div>

<label for="select" class="col-lg-2 col-sm-6 control-label">Select Country</label>
<div class="col-lg-4 col-sm-6">
  <select class="form-control" id="selectCountry" ng-model="ctrl.country">
    <option value="IN">India</option>
    <option value="US">United States</option>
    <option value="UK">United Kingdom</option>
    <option value="CA">Cananda</option>
  </select>
</div>

<label for="select" class="col-lg-2 col-sm-6 control-label">Select Year</label>
<div class="col-lg-4 col-sm-6">
  <select class="form-control" id="selectYear" ng-model="ctrl.year">
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012">2012</option>
    <option value="2013">2013</option>
    <option value="2014">2014</option>
  </select>
</div>

<br></br>
<div class="col-lg-12 text-center">
<a href="" class="btn btn-primary btn-lg" ng-click="ctrl.getData()">Get Data</a>
</div>

<highchart id="chart2" config="ctrl.chartConfig" class="col-lg-12" ng-show="ctrl.resultList"></highchart>

